name: Build and Publish FireVisionIPTVServer Docker image

on:
  push:
    branches:
      - main
    paths:
      - 'FireVisionIPTVServer/**'
      - 'FireVisionIPTVServer/.github/workflows/docker-publish.yml'
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    env:
      IMAGE_NAME: ${{ secrets.DOCKERHUB_USERNAME }}/firevision-iptv-server

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract version
        id: vars
        run: |
          cd FireVisionIPTVServer
          if [ -f "versions.json" ]; then
            VERSION=$(jq -r '.current' versions.json)
          else
            VERSION=${GITHUB_SHA::7}
          fi
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./FireVisionIPTVServer
          file: ./FireVisionIPTVServer/Dockerfile
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:${{ steps.vars.outputs.version }}
            ${{ env.IMAGE_NAME }}:latest
